// neutral model

/// killer whale Ne : SRKW : 27.4, ARKW : 38.9, TKW 86
// Ne ~600 ~400 generation ago
initialize() {
	// ??
	initializeSLiMOptions(keepPedigrees=T);
	// base effective population size
	defineGlobal("N", 1500);
	// mutation rate
	defineGlobal("MU", 1e-7);
	// recombination rate
	defineGlobal("R", 1e-8);
	//genome length
	defineGlobal("L", 1e7);
	
	//length chr 1 : 183775391 // we can use 1 only *o*
	defineGlobal("L1", 183775391); // put 10Mb
	
	//mutation rate
	initializeMutationRate(MU);
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0); // f = all mutation are m1, alternative gamma : mutation distribution gamma distribution
	
	
	// Define genomic element types for each chromosome 
	initializeGenomicElementType("g1", m1, 1.0);
	
	// Initialize chromosomes
	initializeGenomicElement(g1, 0, L1-1);
	
	//Recombination rate
	initializeRecombinationRate(R);
	
	
}

// add subpop
1 early() {
	sim.addSubpop("p1", 1500);
}

15000 late() { p1.outputSample(600);}
15400 early() {p1.outputSample(28);}

20 late() {
	sim.simulationFinished();
	}